{% extends 'base.html.twig' %}
{% block title %}Nouveau Candidat{% endblock %}

{% block content %}
<div class="crud-prefix-container">
    <h1 class="crud-prefix-title">Créer un Nouveau candidat</h1>
    <br>
    {{ include('candidate/_form.html.twig') }}
    <br>
    <div class="crud-prefix-btn-group">
        <a href="{{ path('app_candidate_index') }}" class="crud-prefix-btn crud-prefix-btn-view" title="Retour à la liste">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
</div>
{% endblock %}
